
.bancoPreco {
    padding-left: 350px;
    padding-top: 10px;
    margin: auto;
    width: 50%;
}

.btnBuscar {
    margin: 10px;
    margin-left: 0px;
    background-color: #008cba;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buscadorField {
    color: black;
    text-align: left;
}



h1 {
    text-align: center;
    /* margin-left: 43%;*/
    font-size: 8ch;
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-size: 3ch;
}

.btnBuscar {
    margin-left: 47%;
    display: inline-block;
}

h5.buscadorField {
    padding-top: 25px;
    max-width: 100%;
}



.row-radio-buttons-group {
    position: absolute;
    left: 1px;
    width: 210px;
}

.formRadio {
    width: 210px;
}

.input-container {
    margin-top: 20px;
    text-align: initial;
}

.calendario {
    width: 200px;
    text-align: left;
}

.accordionBusca {
    text-align: center;
}

.MuiAccordionDetails-root {
    display: flex;
    padding: 8px 16px 16px;
    justify-content: center;
}

.MuiInputLabel-shrink {
    color: black;
}

fieldset {
    margin: 20px;
    padding: 0 10px 10px;
    border-radius: 10px;
    padding-top: 10px;
    border: 1px darkgrey solid;
}
legend {
    padding: 2px 4px;
    background: #fff;
    /* For better legibility against the box-shadow */
    font-size: large;
}
fieldset > legend {
    float: left;
    margin-top: -25px;
    color: rgb(83, 83, 83);
}
fieldset > legend + * {
    clear: both;
    font-size: small;

}

.WithStyles\(ForwardRef\(Paper\)\)-root-267 {
    color: gray;
    padding: 1.6px;
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.43;
    font-size: x-large;
    letter-spacing: 0.01071em;
}

.MuiFormGroup-root.MuiFormGroup-row {
    font-size: large !important;
}