.bancoPreco {
    padding-left: 350px;
    padding-top: 10px;
    margin: auto;
    width: 50%;
}

.btnBuscar {
    margin: 10px;
    margin-left: 0px;
    background-color: #008cba;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buscadorField {
    color: black;
    text-align: left;
}

h1 {
    text-align: center;
    /* margin-left: 43%;*/
    font-size: 6ch;
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-size: 3ch;
}

.btnBuscar {
    margin-left: 47%;
    display: inline-block;
}

h5.buscadorField {
    padding-top: 25px;
    max-width: 100%;
}

.row-radio-buttons-group {
    position: absolute;
    left: 1px;
    width: 210px;
}

.formRadio {
    width: 210px;
}

.input-container {
    margin-top: 20px;
    text-align: initial;
}

.calendario {
    width: 200px;
    text-align: left;
}

.accordionBusca {
    text-align: center;
}

.MuiAccordionDetails-root {
    display: flex;
    padding: 8px 16px 16px;
    justify-content: center;
}

.MuiInputLabel-shrink {
    color: black;
}

fieldset {
    margin: 20px;
    padding: 0 10px 10px;
    border-radius: 10px;
    padding-top: 10px;
    border: 1px darkgrey solid;
}
legend {
    padding: 2px 4px;
    background: #fff;
    /* For better legibility against the box-shadow */
    font-size: large;
}
fieldset > legend {
    float: left;
    margin-top: -25px;
    color: rgb(83, 83, 83);
}
fieldset > legend + * {
    clear: both;
    font-size: small;
}

.WithStyles\(ForwardRef\(Paper\)\)-root-267 {
    color: gray;
    padding: 1.6px;
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.43;
    font-size: x-large;
    letter-spacing: 0.01071em;
}

.MuiFormGroup-root.MuiFormGroup-row {
    font-size: large !important;
}

.arredondado,.css-48ayfv,.css-1jllj6i-control {
    width: 100px;
    height: 30px;
    border-width: 0.1px !important;
    border-radius: 10px 20px !important;
    border-color: lightgray !important;
    text-align: center !important;
}
button.css-1r4vtzz {
    width: 100px;
    height: 30px;
    border-radius: 10px 20px;
    text-align: center;
}
input[type='text'] {
    width: 150px;
    height: 30px;
    border-width: 0.1px;
    border-radius: 10px 20px;
    border-color: lightgray;
    text-align: center;
}

.css-11unzgr {
    /* max-height: 300px; */
    /* overflow-y: auto; */
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    width: 100%;
}

.css-12nt7tp {
    max-height: 322px;
    overflow-y: auto;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    width: fit-content !important;
    text-align: left !important;
}



.container {
  width: 50%;
  height: 200px;
  margin: auto;
  padding: 10px;
}

.one {
  width: 50%;
  height: 200px;
  float: left;
}

.two {
  margin-left: 15%;
  height: 200px;
  
}