.tituloGrafico {
  text-align: center !important;
}
.charts {
  margin-top: 80px;
}

.chartsPrincipal {
  width: 95%;
  padding: 10px;
}

.app-page-title {
  margin-top: 100px;
}

.page-title-subheading {
  font-weight: bold !important;
  font-size: xx-large !important;
  opacity: 1 !important;
}

.col-md-4 {
  max-width: 25% !important;
}

.custom-modal-style {
  width: 3000px;
  height: 802px;
}

th.MuiTableCell-root.MuiTableCell-head.MTableHeader-header-13.MuiTableCell-paddingCheckbox {
  width: 0% !important;
}

.borda1 {
  width: 100%;
  height: 10%;
  border-bottom-style: solid;
  border-bottom-color: coral;
}

.borda2 {
  width: 100%;
  height: 10%;
  border-bottom-style: solid;
  border-bottom-color: blue;
}

.borda3 {
  width: 100%;
  height: 10%;
  border-bottom-style: solid;
  border-bottom-color: green;
}

.borda4 {
  width: 100%;
  height: 10%;
  border-bottom-style: solid;
  border-bottom-color: gold;
}

h1.headerCHart {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
    -webkit-box-orient: vertical  !important;
}