.bancoPreco {
  width: 100%;
  text-align: center;
}

.campoBuscar {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 40%;

  display: block;
  margin-right: auto;
  margin-left: auto;
}

input.form-control-lg.form-control {
  border-radius: 50px;
}

.elementosCheck {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;

  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: medium;
}

input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  width: 25px;
  height: 25px;
  padding: 6px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  background-color: coral;
  border-radius: 50%;
}

input[type="radio" i] {
  background-color: coral;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
}

button.btnBuscar.btn.btn-primary {
  margin-top: 15px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 180px;
}

.arredondado,
.selectMeses,
button.css-1r4vtzz {
  border-radius: 10px 20px !important;
  text-align: left !important;
  height: 30px;
  vertical-align: super !important;
}

.tabelaResultado {
  margin-top: 180px;
}

.agrupamento {
  font-size: medium;
}

input.form-check-input {
  width: 20px;
  height: 20px;
}

h5.card-title {
  font-size: x-large;
  text-transform: none !important;
  color: #808080
}



label.form-check-label {
  font-size: x-large;
}

.modal-dialog {
  max-width: 50% !important;
  margin: 0 auto;
}

input.maskCnpj {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.infinite-scroll-component {
  text-align: initial !important;
}

div#rdts1 {
  border-radius: 10px 20px !important;
  text-align: left !important;
  height: 30px;
  vertical-align: super !important;
}

.react-dropdown-tree-select .dropdown .dropdown-trigger {
  padding: 0px !important;
  line-height: 0px !important;
  max-height: 200px !important;
  display: contents !important;
  overflow: revert !important;
  border: 1px solid #b9b9b9 !important;
}

.tag-item .search {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  border-radius: 10px 10px !important;
  height: 30px !important;
  vertical-align: super !important;
}
.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
  margin-top: 100px;
}



.sugestoes {
  margin-top: 10px;
  font-size: 2.5ch;
  /* text-align: center;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black; */
}

.sugestoes:hover{
  background-color:#fbf7f7;
  
}
